<div class="container">
    <div class="row">
        <h1 class="h1 text-center">
            {{title}}
        </h1>
        <div class="nav navbar navbar-expand-sm bg-danger">
            <div class="navbar-nav">
                <!-- (li>a)*3 shortcut-->
                <li class="navitem mx-4 my-1"><a class="nav-link btn btn-info" routerLink="/">Home</a></li>
                <li class="navitem mx-4 my-1"><a class="nav-link btn btn-info" routerLink="/employees/add">Add Employee</a></li>
                <li class="navitem mx-4 my-1"><a class="nav-link btn btn-info" routerLink="/about">About Us</a></li> 
                <li class="navitem mx-4 my-1"><a class="nav-link btn btn-info" routerLink="/validation/template">Template Validation</a></li> 
                <li class="navitem mx-4 my-1"><a class="nav-link btn btn-info" routerLink="/validation/reactive">Reactive Validation</a></li> 
                <li class="navitem mx-4 my-1"><a class="nav-link btn btn-info" routerLink="/admin/dashboard">Dashboard</a></li> 
                <li class="navitem mx-4 my-1"><a class="nav-link btn btn-info" routerLink="/admin/user">User Info</a></li> 
                <li class="navitem mx-4 my-1"><a class="nav-link btn btn-info" routerLink="/admin/rights">App Rights</a></li> 
            </div>
        </div>
    </div>
</div>